@font-face {
    font-family: "BigBlue";
    src: url("Font/BigBlue_Terminal_437TT.TTF") format("truetype");
}

img {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
}

.container {
    width: 700px;
    height: 800px;
    margin: auto;
    border: 3px groove green;
    margin-top: 20px;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 2px;
}

body {
    line-height: 1.3;
}

.centered {
    text-align: center;
}

a:link {
    color: green;
}

a:visited {
    color: green;
}

a:hover {
    color: red;
}

a:active {
    color: red;
}
