@font-face {
    font-family: "BigBlue";
    src: url("Font/BigBlue_Terminal_437TT.TTF") format("truetype");
}

body,
html {
    cursor: url(Cursors/Normal.png), auto;
}

img {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
}

.title {
    font-size: 45px;
}

.left-border {
    width: 60px;
    border: 1px solid lime;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;

    position: absolute;
    top: 20px;
    right: calc(100% + 5px);
}

.right-border {
    width: 260px;
    border: 1px solid lime;
    padding-right: 10px;
    padding-left: 10px;

    position: absolute;
    top: 20px;
    left: calc(100% + 5px);
}

.container {
    width: 770px;
    margin: auto;
    margin-top: 20px;
    border: 1px solid lime;
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 2px;
}

body {
    line-height: 1.3;
}

.centered {
    text-align: center;
}

a {
    cursor: url(Cursors/Link.png), auto;
}

a:link {
    color: green;
}

a:visited {
    color: green;
}

a:hover {
    color: red;
}

a:active {
    color: red;
}
